.aws
.bash_history
.bash_logout
.cache
.CFUserTextEncoding
.composer
.cpan
.cups
.cvspass
.docker
.dockercfg
.eclipse
.elinks
.htoprc
.keep
.lesshst
.MacOSX
.mysql_history
.netbeans
.npm
.pearrc
.php_history
.profile
.razorsql
.sqldeveloper
.ssh
.subversion
.swt
.Trash
.vim/.netrwhist
.vim/bundle
.vim/data
.vim/undo
.vim/undodir
.viminfo
