.cpan/
.cvspass
.elinks/
.emacs
.gitconfig
.htoprc
.lesshst
.php_history
.ssh/
.viminfo
cvs-sites
oradiag_mkenney/
projects/
tmp/
www
/.netbeans/
/NetBeansProjects/Interactive_CO_Map/nbproject/private/
/NetBeansProjects/Mapathon-MBKDEV/nbproject/private/
/NetBeansProjects/Mapathon/nbproject/private/
/NetBeansProjects/Mapathon_Complete/nbproject/private/
/NetBeansProjects/cert_api/nbproject/private/
/NetBeansProjects/certified/nbproject/private/
/NetBeansProjects/das_internal-cvs/nbproject/private/
/NetBeansProjects/db_admin/nbproject/private/
/NetBeansProjects/emt-web-internal-tools/nbproject/private/
/NetBeansProjects/emt-web-repmon.certMon/nbproject/private/
/NetBeansProjects/emt-web-repmon/nbproject/private/
/NetBeansProjects/emt-web/nbproject/private/
/NetBeansProjects/soap_api-cvs/nbproject/private/
/NetBeansProjects/ss_internal-web/nbproject/private/
/NetBeansProjects/tusko-explain/nbproject/private/
/NetBeansProjects/tusko-repsing/nbproject/private/
/NetBeansProjects/web-core/nbproject/private/
/NetBeansProjects/hdshell/nbproject/private/
/NetBeansProjects/Bdlm_CORE/nbproject/private/
/NetBeansProjects/xtest/nbproject/private/