$include /etc/inputrc

set -o vi
set colored-stats On
set mark-symlinked-directories On
set expand-tilde on
set completion-ignore-case off
set editing-mode vi
#set keymap vi-command
set show-all-if-ambiguous on